html, body {
    padding: 0;
    margin: 0;
    background-color: rgb(207, 207, 207);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
}

h1{
    text-align: center;
    font-family: 'Ribeye Marrow', cursive;
    font-size: 3em;
    color:#fff;
}

.container{
    width:600px;
    margin: 0 auto;
    background-color:magenta;
    padding-top:20px;
    border-bottom-left-radius: 10px;
    box-shadow: 10px 10px 10px #fff;;
}

#users{
    display:flex;
    flex-direction: row;
    box-sizing: border-box;
    flex-wrap:wrap;
    justify-content: center;
}

.card {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
